<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="j2_googlecss.css">
		<title>My Kitchen Blog</title>
	</head>
	
	<body >
	
			<!--header-->
			<div class="header">
				<!--nav-->
				<nav></nav>
			</header>


			<div class="container">
				<h1 >Kitchen Lessons</h1>
					<h2 class="example-title">Color Swatches</h2>
					<div class="test">
						<div class="box">
				                  <div class="color-background" style="background-color:#9abeca"></div>
				                  <div class="info">#9abeca</div>
				        </div>
				        <div class="box">

				                  <div class="color-background" style="background-color:#59445c"></div>
				                  <div class="info">#9abeca</div>
				        </div>
						<div class="box">
				                  <div class="color-background" style="background-color:#5d6165"></div>
				                  <div class="info">#9abeca</div>
				        </div>
						<div class="box">
				                  <div class="color-background" style="background-color:#9fa1a7"></div>
				                  <div class="info">#9abeca</div>
				        </div>
						<div class="box">
				                  <div class="color-background" style="background-color:#d0d1d8"></div>
				                  <div class="info">#9abeca</div>
				        </div>
						<div class="box">
				                  <div class="color-background" style="background-color:#48CFAD"></div>
				                  <div class="info">#9abeca</div>
				        </div>
						<div class="box">
				                  <div class="color-background" style="background-color:#37BC9B"></div>
				                  <div class="info">#9abeca</div>
				        </div>

				    </div>
             </div>



	
			
	

			<footer class="foot">
			</footer>
			
	</body>
</html>
		
		
